.GameBoard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

table {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-collapse: collapse;
  table-layout: fixed;
}